@import url("ubc-clf-full.css");
@import url("font-awesome.css");
/* Unit editable CSS */

#duo_iframe {
    width: 100%;
    min-width: 304px;
    max-width: 620px;
    height: 330px;
    border: none;
}
h1, h2, h3, h4, h5, h6 {
    line-height: 1.05em;
}
h1 {
    font-size: 2.7em;
    margin: 1em 0 .5em;
    text-align: center;
}
h2 {
    clear: both;
    font-size: 30px;
    font-weight: normal;
    color: #002145;
    margin: 30px 0 10px;
}
li {
    line-height: 19px;
    margin-bottom: 11px;
}
/** Unit Bar background color **/
#ubc7-unit {
    background: #264E6A;
}
p.SvcName {
    text-align: center;
    padding-bottom: 2em;
    font-weight: 700;
    font-size: 18px;
}
.row-fluid .span2 {
    width: 14.893617021276595%;
    *width: 14.840425531914894%;
    display: none;
}
body {
    background: none repeat scroll 0 0 #FFFFFF !important;
}
input.btn.btn-submit.btn-block {
    width: auto;
}
#password-clear {
    display: none;
}
#ubc7-logo a, #ubc7-apom a, #ubc7-wordmark a, #ubc7-global-utility button {
    pointer-events: none;
}
/*borders*/
#flexContainer, .oneColumn, #col1, #col2 {
    border: 0px solid #ebebeb;
}
.full-width-container {
    margin: auto;
    padding-top: 10px;
}
#flexContainer {
    max-width: 900px;
    margin: auto;
}
.oneColumn {
    max-width: 540px;
    margin-top: 1.5em;
}
#col1 {
    float: left;
    width: 47%;
    padding-right: 50px;
    margin-top: 1.5em;
    margin-bottom: 2em;
}
#col2 {
    float: left;
    width: 47%;
    margin-top: 1.5em;
    margin-bottom: 1em;
}
.alert {
    padding: 1em 1.75em .6em;
    list-style: none;
}
.alert ul {
    margin: 0 0 10px 0px;
    list-style: none;
}
.alert ul li {
    font-size: .85em;
    line-height: 1.55em;
    padding-left: 25px;
    background-image: url(../images/alerts_bullet_white.png);
    background-repeat: no-repeat;
    background-position: 0 0;
}
/*Input Fields*/

input, textarea, .uneditable-input {
    width: 86%;
}
input[type="text"], input[type="password"], select {
    margin-bottom: 5px;
}
.btn {
    padding: 6px 16px;
    margin-top: 10px;
}
label {
    margin-bottom: 1px;
    margin-top: 4px;
    font-weight: 700;
    color: #666666;
}
/*button behaviours and styling*/

input[type="submit"] {
    transition: all 0.3s ease-in-out 0s;
}
.ActionYes {
    background: url(../images/ActionYes.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: 30px;
    width: 95px !important;
}
.ActionNo {
    background: url(../images/ActionNo.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: 30px;
    width: 95px !important;
}
.ActionContinue {
    background: url(../images/ActionContinue.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: 30px;
    width: 95px !important;
}
.ActionCancel {
    background: url(../images/ActionCancel.png) no-repeat scroll center center rgba(0, 0, 0, 0);
    border: medium none;
    color: rgba(0, 0, 0, 0);
    font-size: 0;
    height: 30px;
    width: 95px !important;
}
.ActionYes:hover {
    background : url(../images/ActionYes-hover.png) no-repeat center center;
    width: 95px !important;
}
.ActionNo:hover {
    background : url(../images/ActionNo-hover.png) no-repeat center center;
    width: 95px !important;
}
.ActionContinue:hover {
    background : url(../images/ActionContinue-hover.png) no-repeat center center;
    width: 95px !important;
}
.ActionCancel:hover {
    background : url(../images/ActionCancel-hover.png) no-repeat center center;
    width: 95px !important;
}
fieldset input {
    margin: 8px;
}

/* Media Queries */

@media screen and (max-width: 1199px) {
    #flexContainer {
        margin: auto;
        width: 100%;
    }
    #col1 {
        float: left;
        width: 47%;
        padding-right: 40px;
    }
    #col2 {
        float: left;
        width: 47%;
    }
}

@media screen and (max-width: 979px) {
    #flexContainer {
        width: 80%;
    }
    #col1 {
        float: left;
        width: 47%;
        padding-right: 0;
    }
    #col2 {
        float: left;
        width: 47%;
    }
}

@media screen and (max-width: 767px) {
    input, textarea, .uneditable-input {
        width: 97%;
    }
    #flexContainer {
        width: 100%;
    }
    #col1 {
        width: 100%;
        padding-right: 0;
    }
    #col2 {
        width: 100%;
        margin-top: 0.5em;
    }
    input.btn.btn-submit.btn-block {
        width: 100%;
    }
    h1 {
        font-size: 2.5em;
        font-weight: 700;
        margin: .5em 0 .5em 0;
        line-height: 1.35em;
        width: 100%;
    }
    h2 {
        font-size: 1.8em;
        font-weight: 500;
        margin: 1em 0;
    }
}

@media screen and (max-width: 480px) {
    input.btn {
        width: 100%;
        font-weight: 700;
        padding: 12px;
    }
}

@media screen and (max-width: 420px) {
    select, textarea, input[type="text"], input[type="password"] {
        padding-right: 0;
    }
    #col1 {
        display: block;
        float: left;
        width: 100%;
        padding-right: 0;
    }
    #col2 {
        display: block;
        clear: both;
        width: 100%;
    }
}

@media screen and (max-width: 320px) {
}
/*Footer Styling*/

#ubc7-minimal-footer {
    background: none repeat scroll 0 0 #ebebeb;
    padding-top: 10px;
}
#ubc7-global-footer, #ubc7-minimal-footer, #ubc7-global-footer a, #ubc7-minimal-footer a {
    color: #002145 !important;
    text-decoration: none;
}
#ubc7-minimal-footer a:hover, #ubc7-global-footer a:hover {
    color: #002145 !important;
    text-decoration: underline;
}
#ubc7-minimal-footer .span12 {
    border-top: 0 solid #1F385F;
    float: none;
    padding: 0 0 0px;
}